*{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
}
body{
margin: 0px;

background-color: black;
box-sizing: border-box;

}
#cont{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1%;
   
   margin: auto;

}
#cont>div{
   
    background-color: #f1f1f1;
  border-radius: 10px;
  
  height: 450px;
  margin-top: 5%;


}

#cont>div>:nth-child(2){
   padding-left: 10px;
   
   
   line-height: 0px;
   
}
#cont>div>:nth-child(2)>div{
    display: flex;
    
  line-height: 0px;
}

#cont>div>:nth-child(2)>div>h2{
 
padding: 8px;
padding-left: 0px;
 
  font-size: 22px;
    color: #e54141;
    
}

#cont>div>:nth-child(2)>div>h5{
 
padding: 10px;
  font-size: 10px;
    color: grey;
    text-decoration: line-through;
    font-weight: 300;
    
}

#disc>h3{
font-size: 16px;
   
   padding:14px ;
   margin: auto;

   color:#e54141;
   margin-left: 0px;
   padding-left: 0px;
 
   
}
#disc{
 
 display: flex;
 
}

#addtocartbtn{
   background-color: black;
  color: #e54141;
  border-radius: 12px;
  padding: 8px;
  margin-right: 20px;
}
/* 
#cont>div>:nth-child(2)>h3{

   

   
} */

#cont>div>:nth-child(1){
    background-color: #c4c4c4;
    
   height: 67%;
    
    border-radius: 10px 10px 0px 0px;
  
}

#cont>div>:nth-child(1)>img{
    width: 100%;
    height: 100%;
   
  
}

h1{
    color: tomato;
}



#container {


background-color:#c4c4c4;

display: flex;
flex-wrap: wrap;
box-sizing: border-box;
padding: 12px;
justify-content: space-between;
align-content: center;
}

#left {

padding: 10px;



}

#center {

color: white;

font-size: 18px;
display: flex;
justify-content: space-between;
align-items: center;


}

#right{

display: flex;

justify-content: space-around;
padding: 10px;
}
#right>div{


color: white;
padding: 10px;
}


.navcenter {
padding: 0px 15px 0px 10px;

border-right: 2px solid red;


}


#selecttag{
    display: flex;
    justify-content: right;
}
#selecttag>select{
  color: white;
  background-color: #c4c4c4;
  border-radius: 15px;
  padding: 10px;
  margin-right: 40px;
}

#imagediv1{
  
  height: 430px;
}
#imagediv1>img{
  
   object-fit: fill;
  }
  
  #products{
      color: white;
      font-size: 39px;
      margin-left: 30px;
  }



  
  #bottom{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    margin-bottom: 100px;
  }

  #bottomtext{
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 500px;
  }
  #bottomtext>:nth-child(1){
  font-size: 45px;
  color: white;
  }

  #bottomtext>:nth-child(2){
    font-size: 65px;
    color: white;
    }

    #bottomtext>:nth-child(3){
      margin-top:30px ;
      font-size: 25px;
      margin-bottom: 150px;
      }

      #lastimg{
        width: 70%;;
        margin: auto;
        margin-bottom: 100px;
      }