
body{
    background-color: black;
    margin: 0px;
}
        #form{
            width: 520px;
          
            margin: auto;
            
          margin-top: 50px;
            font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding: 5%;
      
        box-sizing: border-box;
      border-radius: 10px;
    background-color:#c4c4c4;
        }
        
        input,button{
            display: block;
        
            width: 100%;
            
            margin:10px 0px 20px 0px;
           font-size: 16px;

            line-height: 16px;
      
            color: black;
            padding: 11px 15px;

            box-sizing: border-box;
            border-radius: 10px;
        }
label{
    color: white;
}
        button{
            background-color:#e54141;
          
            color: white;
            font-weight: 700;
        }
    


    
    

#container {


    background-color:#c4c4c4;
    
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 12px;
    justify-content: space-between;
    align-content: center;
    }
    
    #left {
    
    padding: 10px;
    
    
    
    }
    
    #center {
    
    color: white;
    
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    }
    
    #right{
    
    display: flex;
    
    justify-content: space-around;
    padding: 10px;
    }
    #right>div{
    
    
    color: white;
    padding: 10px;
    }
    
    
    .navcenter {
    padding: 0px 15px 0px 10px;
    
    border-right: 2px solid red;
    
    
    }

    
    
  #bottomtext{
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }
  #bottomtext>:nth-child(1){
  font-size: 45px;
  color: white;
  }

  #bottomtext>:nth-child(2){
    font-size: 65px;
    color: white;
    }

    #bottomtext>:nth-child(3){
      margin-top:30px ;
      font-size: 25px;
      margin-bottom: 150px;
      }

      #bottom{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
    
        margin-bottom: 200px;
      }


      #lastimg{
        width: 70%;;
        margin: auto;
        margin-bottom: 100px;
      }